<div th:fragment="cadastro">
	<div class="row">
		<div class="form-group col-md-6">
			<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('titulo')}">
				<label th:errors="*{titulo}" class="validation-message"></label>
			</div>
			<label>T&iacute;tulo</label> 
			<input type="text" class="form-control" th:field="*{titulo}">
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-6">
			<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('descricao')}">
				<label th:errors="*{descricao}" class="validation-message"></label>
			</div>
			<label>Descri&ccedil;&atilde;o</label> 
			<input type="text" class="form-control" th:field="*{descricao}">
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-6">
			<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('dataExpiracao')}">
				<label th:errors="*{dataExpiracao}" class="validation-message"></label>
			</div>
			<label>Prazo</label>
			<input type="date" class="form-control" th:field="*{dataExpiracao}">
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Salvar</button>
</div>