<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Gerenciador de Tarefas - Tarefas</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
	<div class="container">
		<h3>Cadastro de Tarefa</h3>
		<form action="/tarefas/inserir" method="POST" class="form-horizontal" th:object="${tarefa}">
			<div th:replace="tarefas/cadastro :: cadastro"></div>
		</form>
	</div>
	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>